
h1 {
    color: brown;
    border: thick;
}

 .heading{
     border : solid ;
     display :flex;
    justify-content: space-between;
 }


 .socialmedia{
     border-bottom: solid;
     display: flex;
     justify-content: flex-end;
     padding: 5in;
 }


 body{
     background-color: #237382;
     
 }